<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>문진표 작성</title>
</head>
<body>
<h1>문진표</h1>
<form method="POST">
<!--POST 방식은 HTTP 파라미터를 HTTP BODY에 담아서 전달하여 주소창에 노출되지 않음! 즉, 주소창의 변화 없이 데이터 전달  -->
<p>이름 : <input type="text" name="Name" required/></p>
<p>성별 
<input type='radio' id='Gender' value="F" />여성
<input type='radio' id='Gender' value="M" />남성
</p>
<p>나이 : <input type="number" name="Age" required/></p>
<p>전화번호 : <input type="text" name="Phone_number" required/></p>
<p>주소 1: <input type="text" name="Address_1" required/></p>
<p>주소 2: <input type="text" name="Address_2" required/></p>
<p>약(감기약/해열제 등) 복용 유무: 
	<input type="radio" id="Pill_1" name="Taking_Pill" value="1">
  		<label for="Pill_1">유</label>
  	<input type="radio" id="Pill_2" name="Taking_Pill" value="0">
  		<label for="Pill_2">무</label>
</p>
<p>주요 증상: </p>
	<input type='hidden' name='Nose' value='0'>
 	<input type='checkbox' name='Nose' value='1' />콧물 또는 코막힘
 	<input type='hidden' name='Cough' value='0'>
  	<input type='checkbox' name='Cough' value='1' />기침 또는 가래
  	<input type='hidden' name='Pain' value='0'>
  	<input type='checkbox' name='Pain' value='1' />통증(두통/흉통/근육통 등)
  	<input type='hidden' name='Diarrhea' value='0'>
  	<input type='checkbox' name='Diarrhea' value='1' />설사
  <br>
<p>고위험군 분류: </p>
	<input type="radio" id="Group1" name="High_Risk_Group" value="Under59">
  		<label for="Group1">59개월 이하의 소아</label>
  	<input type="radio" id="Group2" name="High_Risk_Group" value="Pregnancy">
  		<label for="Group2">임산부</label>
  	<input type="radio" id="Group3" name="High_Risk_Group" value="Lung">
  		<label for="Group3">만성 폐질환</label>
  	<input type="radio" id="Group4" name="High_Risk_Group" value="Diebete">
  		<label for="Group4">당뇨</label>
  	<input type="radio" id="Group5" name="High_Risk_Group" value="Cancer">
  		<label for="Group5">암환자</label>
  	<input type="radio" id="Group6" name="High_Risk_Group" value="None">
  		<label for="Group6">해당사항 없음</label>
<P>시각통증척도: </P>
	<input type="radio" id="VAS_0" name="VAS" value="0">
  		<label for="VAS_0">0</label>
  	<input type="radio" id="VAS_1" name="VAS" value="1">
  		<label for="VAS_1">1</label>
  	<input type="radio" id="VAS_2" name="VAS" value="2">
  		<label for="VAS_2">2</label>
  	<input type="radio" id="VAS_3" name="VAS" value="3">
  		<label for="VAS_3">3</label>
  	<input type="radio" id="VAS_4" name="VAS" value="4">
  		<label for="VAS_4">4</label>
  	<input type="radio" id="VAS_5" name="VAS" value="5">
  		<label for="VAS_5">5</label>
  	<input type="radio" id="VAS_6" name="VAS" value="6">
  		<label for="VAS_6">6</label>
  	<input type="radio" id="VAS_7" name="VAS" value="7">
  		<label for="VAS_7">7</label>
  	<input type="radio" id="VAS_8" name="VAS" value="8">
  		<label for="VAS_8">8</label>
  	<input type="radio" id="VAS_9" name="VAS" value="9">
  		<label for="VAS_9">9</label>
  	<input type="radio" id="VAS_10" name="VAS" value="10">
  		<label for="VAS_10">10</label>
  		
<p>개인정보동의여부: 
	<input type="radio" id="Info_1" name="Agreement" value="1">
  		<label for="Info_1">예</label>
  	<input type="radio" id="Info_2" name="Agreement" value="0">
  		<label for="Info_2">아니오</label>
</p>
<p><input type="submit" value="저장" /></p>
</form>
</body>
</html>
