<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>의료 기관 통합 포털 사이트</title>
</head>
<body>
	<h3>의료 기관 통합 포털 사이트</h3>
	<hr>
	<a th:href="@{/PatientInfo/Input}" th:text="문진표작성"></a><br>
	<a th:href="@{/PatientInfo/Result/1}" th:text="문진표조회"></a><br>
	<a th:href="@{/Home}" th:text="전체병원조회"></a><br>
	<a th:href="@{/Home}" th:text="병원예약"></a><br>
	<a th:href="@{/Board}" th:text="게시판"></a><br>
	<a th:href="@{/Home}" th:text="QnA"></a><br>
	<hr>
	<div th:if="${SessionUser != null}">
		<span th:text="'환영합니다, ' + ${SessionUser} + '님'"></span><br>
		<a th:href="@{/Logout}" th:text="로그아웃"></a><br>
		<a th:href="@{/UserInfoModify}" th:text="회원정보"></a><br>
	</div>
	<div th:if="${SessionUser == null}">
		<a th:href="@{/Login}" th:text="로그인"></a><br>
		<a th:href="@{/SignUp}" th:text="회원가입"></a><br>
	</div>
	<hr>
</body>
</html>